@section scripts {
   <script src="~/Client/app.js"></script>
}

<div>
    <label for="searchFilter">Ricerca libri: </label>
    <input type="text" id="searchFilter"/>
</div>

<div>
    <ul id="bookList"></ul>
</div>

<div>
    <label for="username">User name: </label>
    <input type="text" id="username"/>
</div>

<div>
    <label for="password">Password: </label>
    <input type="text" id="password" />
</div>

<button id="btnLogin">Login</button>

<div>
    <button id="showBasket">Show basket</button>
    <ul id="basket">

    </ul>
</div>